body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background: linear-gradient(#3572EF, #3ABEF9);
    overflow-y: auto; 
}

.announcement {
    background-color: #102646;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

@keyframes blink {
    0%, 100% {
        color: rgba(0, 234, 255, 0.822);
    }
    50% {
        color: white;
    }
}

.announcement a {
    color: white ; /* Utiliser la couleur du texte parent */
    text-decoration: none; /* Retirer le soulignement */
    transition: color 0.3s ease; /* Transition pour un effet au survol */
    animation: blink 3s infinite;
}

.announcement a:hover {
    color: #afb0b4; /* Changer la couleur au survol */
}

header {
    margin-top: 55px;
    background-color: #050C9C;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Base font size */
    padding: 10px 20px; /* Increase clickable area */
    display: inline-block; /* Allow padding to expand clickable area */
    transition: color 0.3s ease, font-size 0.3s ease;
}

nav ul li a:hover {
    color: #b80e22;
    font-size: 24px; /* Enlarged font size on hover */
}

main.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    margin-top: 220px;
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile-pic {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.profile-info h1 {
    margin: 0;
    padding: 0;
}

.profile-info p, .profile-info h3 {
    margin: 5px 0;
    padding: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.profile-info p:hover, .profile-info h3:hover {
    transform: translateX(10px);
    opacity: 0.7;
}

.profile-info {
    margin-left: 30px;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Styles pour la section de présentation */
.presentation {
    background-color: #002f4893;
    border-radius: 20px;
    padding: 20px 50px;
    text-align: center;
    box-shadow: 0 -40px 80px rgba(0, 0, 0, 0.3);
    margin-top: 80px; /* Ajuste la marge supérieure pour descendre la section */
    flex-shrink: 0;
    margin-bottom: 40px;
}

.presentation-content {
    max-width: 80vw;
    margin: auto;
}

.presentation h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.presentation p {
    font-size: 18px;
    line-height: 1.6;
}

.epitech {
    margin-top: 30px;
}

.epitech-logo {
    width: 300px; /* Ajuste la taille du logo selon ton besoin */
    height: auto;
    margin-bottom: 10px;
    margin-top: 40px;
}

/* Animation pour la présentation */
.presentation.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.presentation.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Styles pour le portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: auto;
    border-radius: 8px;
}

.project-item {
    position: relative;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.project-item img {
    width: 17w;
    border-radius: 8px;
    height: 17vw;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-info h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.project-info p {
    font-size: 16px;
    margin: 0;
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-item:hover .project-info {
    opacity: 1;
}

/* Styles pour les liens de contact */
.profile-info a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.profile-info a:hover {
    color: #ffffff; /* Changer la couleur au survol */
}