body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: rgb(218, 234, 255);
    overflow-y: auto;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.announcement {
    background-color: #102646;
    padding: 5px;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

@keyframes blink {
    0%, 100% {
        color: rgba(0, 234, 255, 0.822);
    }
    50% {
        color: white;
    }
}

.announcement a {
    color: white ;
    text-decoration: none;
    transition: color 0.3s ease;
    animation: blink 3s infinite;
    font-size: 12px;
}

.announcement a:hover {
    color: #afb0b4;
}

header {
    margin-top: 85px;
    background-color: #050C9C;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    width: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: transform 0.3s ease;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3vw;
    padding: 1vw 2vw;
    display: inline-block;
    transition: color 0.3s ease, font-size 0.3s ease;
}

nav ul li a:hover {
    color: #b80e22;
    font-size: 3vw;
}

main.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 190px;
    animation: fadeIn 1.5s ease-in;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile-pic {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.05);
}

.profile-info h1 {
    margin: 0;
    padding: 0;
    font-size: 8vw; 
}

.profile-info h3 {
    font-size: 6vw;
}

.profile-info p {
    margin: 5px 0;
    padding: 0;
    font-size: 5vw; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.profile-info p:hover {
    transform: translateX(10px);
    opacity: 0.7;
}

.profile-info {
    margin-left: 0;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Styles pour la section de présentation */
.presentation {
    background-color: #002f4893;
    border-radius: 20px;
    padding: 20px 5vw;
    text-align: center;
    box-shadow: 0 -40px 80px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
    flex-shrink: 0;
    margin-bottom: 40px;
}

.presentation-content {
    max-width: 90vw;
    margin: auto;
}

.presentation h2 {
    font-size: 6vw;
    margin-bottom: 10px;
}

.presentation p {
    font-size: 5vw;
    line-height: 1.6;
}

.epitech {
    margin-top: 30px;
}

.epitech-logo {
    width: 40vw;
    height: auto;
    margin-bottom: 10px;
    margin-top: 40px;
}

/* Animation pour la présentation */
.presentation.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.presentation.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styles pour le portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: auto;
    border-radius: 8px;
}

.project-item {
    position: relative;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    width: 40vw;
}

.project-item img {
    width: 100%;
    border-radius: 8px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-info h3 {
    margin: 0;
    font-size: 4vw;
    margin-bottom: 5px;
}

.project-info p {
    font-size: 3.5vw;
    margin: 0;
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-item:hover .project-info {
    opacity: 1;
}

/* Styles pour les liens de contact */
.profile-info a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.profile-info a:hover {
    color: #ffffff;
}

/* Media queries pour les plus grands écrans */
@media (min-width: 768px) {
    nav ul li {
        margin: 0 20px;
    }

    nav ul li a {
        font-size: 18px;
        padding: 10px 20px;
    }

    nav ul li a:hover {
        font-size: 24px;
    }

    main.profile {
        flex-direction: row;
    }

    .profile-info h1 {
        font-size: 2.5vw;
    }

    .profile-info h3, .profile-info p {
        font-size: 1.8vw;
    }

    .presentation-content {
        max-width: 60vw;
    }

    .presentation h2 {
        font-size: 24px;
    }

    .presentation p {
        font-size: 18px;
    }

    .announcement a {
        font-size: 19px;
    }

    .profile-pic {
        margin-right: 7vw;
    }
    
    .epitech-logo {
        width: 300px;
    }

    .project-item {
        width: 20vw;
    }

    .project-info h3 {
        font-size: 20px;
    }

    .project-info p {
        font-size: 16px;
    }
}

/* Footer, informations */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    footer p {
        font-size: 12px;
    }
}

/* Styles pour les liens de contact */
.footer-content a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #979494;
}